<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="head">Interesting facts of Madrid</h1>
    <div class="facts">
        <ul>
            <li>
                <h3>It was created around the year of 860 A.C</h3>
                <p>Madrid’s roots trace back to prehistoric times and the Roman civilisation.<br>
                    The city’s history is over 2000 years, with the Manzanares River settlers and influence from the Muslim community.<br>
                    Emir Muhammad I commissioned the first construction in the year 865 A.C.<br>
                    The construction involved the establishment of a fortress on the banks of the Manzanares River in Mayrit village.</p>
            </li>
            <hr>
            <li>
                <h3>It has been the capital of Spain since the 17th century</h3>
                <p>Philip II understood the importance of the city of Madrid and made it the capital of Spain.<br>
                    He moved his court there, solidifying the city as the de facto center of royal power.<br>
                    Before Madrid, Toledo was the capital until 1560.<br>
                    The two cities are merely an hour apart by car.</p>
            </li>
            <hr>
            <li>
                <h3>Its name comes from the Arabic magerit</h3>
                <p>The Arabic, specifically magerit, called this city “Madrid,” meaning a “place of many streams’.<br>
                    Originally known as Mayrit, Emir Muhammad founded the city in the 9th century A.D.<br>
                    It thrived during the Arab occupation but later fell under Christian rule during the Spanish reconquest.</p>
            </li>
            <hr>
        </ul>
    </div>

    <div>
        <ul class="links">
            <li><a href="/">Main page</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/mayor">Mayor</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </div>

</body>
</html>