<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="head">History of Madrid</h1>
    <hr>
    <div class="short">
        <p>The documented history of Madrid dates to the 9th century, even though the area has been inhabited since the Stone Age.<br>
            The primitive nucleus of Madrid, a walled military outpost in the left bank of the Manzanares,<br>
            dates back to the second half of the 9th century, during the rule of the Emirate of Córdoba.<br>
            Conquered by Christians in 1083 or 1085, Madrid consolidated in the Late Middle Ages as a middle to upper-middle rank town of the Crown of Castile.<br>
            The development of Madrid as administrative centre began when the court of the Hispanic Monarchy was settled in the town in 1561.
        </p>
    </div>
    <hr>
    <div class="history">
        <ul>
            <li>
                <h3>Fortress and town</h3>
                <p>The primitive urban nucleus of Madrid (Majriṭ) was founded in the late 9th century (from 852 to 886) as a citadel erected on behalf of Muhammad I.<br>
                    The Cordobese emir, on the relatively steep left bank of the Manzanares.<br>
                    Originally it was largely a military outpost for the quartering of troops.<br>
                    The 1520–21 Revolt of the Comuneros succeeded in Madrid, as, following contacts with the neighbouring city of Toledo
                </p>
            </li>
            <hr>
            <li>
                <h3>Capital of the empire</h3>
                <p>Philip II (1527–1598), moved the court to Madrid in 1561.<br>
                    During the 17th century, Madrid had a estate-based society. The nobility, a quantitatively large group, swarmed around the royal court.<br>
                    On 29 October, Hill received Wellington's positive order to abandon Madrid and march to join him.<br>
                    After a liberal military revolution, Colonel Riego made the king swear to respect the Constitution.
                </p>
            </li>
            <hr>
            <li>
                <h3>Recent developments</h3>
                <p>Benefiting from prosperity in the 1980s, Spain's capital city has consolidated its position as the leading economic,<br>
                    cultural, industrial, educational and technological center of the Iberian peninsula.<br>
                    Since the late 1970s and through the 1980s Madrid became the center of the cultural movement known as la Movida.<br>
                    Since the late 2010s, the challenges the city faces include the increasingly unaffordable rental prices<br>
                    (often in parallel with the gentrification and the spike of tourist apartments in the city centre)<br>
                    and the profusion of betting shops in working-class areas, equalled to an "epidemics" among the young people.
                </p>
            </li>
            <hr>
        </ul>
    </div>
    <div>
        <ul class="links">
            <li><a href="/history/people">Famous people</a></li>
            <li><a href="/history/photos">History photos</a></li>
        </ul>
    </div>
    <hr>
    <div>
        <ul class="links">
            <li><a href="/">Main page</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/mayor">Mayor</a></li>
            <li><a href="/facts">Facts</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </div>

</body>
</html>