<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1 class="head">Mayor of Madrid</h1>

    <div class="mayor">
        <div class="mayor-image">
            <img src="{{ url_for('static', filename='img/mayor.jpg') }}" class="photo" alt="pic">
        </div>
        <div class="mayor-text">
            <h2 class="mayor_name">José Luis Martínez-Almeida</h2>
            <p class="mayor_info">He ran first in the PP list for the 2019 Madrid City Council election. Martínez-Almeida lost the council election against Manuela Carmena, Más Madrid, but due to a coalition agreement among PP Popular Party, C's Citizens and Vox, he was invested as Mayor on 15 June 2019, during the opening session of the new municipal corporation.<br>
                                    During the campaign, the PP pledged to get rid of the star measure of the previous municipal administration: the low emission zone Madrid Central. As promised, on July 1, the City Council led by Martínez-Almeida suspended the system for three months by ceasing to fine infractions. Environmental groups such as Greenpeace cut roads in protest. However, a week later a court in Madrid restored the fines. After more than one year of legal dispute, in July 2020, the derogation of the measure was supported by a judicial sentence, but the municipal government maintained the fines.<br>
                                    During the COVID-19 pandemic in Spain, Martínez-Almeida garnered the support of all parties in the City Council. His performance gained him notoriety and recognition. After the first confinement, the City Council of Madrid was the first major administration to reach a transversal reconstruction plan.<br>
                                    In September 2021, Almeida's government banned the in-person participation of neighbors in the plenary meetings of the district councils.<br>
                                    He tested positive for COVID-19 on 21 December 2021 during the pandemic in Spain.<br>
                                    In April 2022, it came to light that his government was involved in a scandal for awarding several contracts to companies managed by aristocrat Luis Medina Abascal, son of Nati Abascal and the Duke of Feria; and his partner, Alberto Javier Luceño Cerón, two businessmen who mediated in the purchase of sanitary material with the Madrid City Council in March 2020, during the worst moment of the COVID-19 pandemic in Spain and a few days after the state of alarm was declared, with whom them both took millionaire commissions for various contracts, being investigated by the Anti-Corruption Prosecutor's Office.<br>
            </p>
        </div>
    </div>
    <hr>
    <div>
        <ul class="links">
            <li><a href="/">Main page</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/facts">Facts</a></li>
            <li><a href="/history">History</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </div>

</body>
</html>